:root {
  font-family: system-ui;
  color: white;
  background-color: #242424;
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
  padding: 1em;
}

#app {
  width: 100%;
  text-align: center;
}

h3, p {
  margin: 0;
  background-color: black;
}
